.box1{
    background-color: #4a5e72;
    height: 120px
}

.box2{
    background-color: #3e4f5f; 
    height: 60px
}

.redes{
    font-size: 60px !important; 
    color: white
}

.textos{
    color: white
}